[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/tux/Desktop/dbeaver-ce.desktop]
row=1
col=1

[/home/tux/Desktop/firefox.desktop]
row=1
col=0

[/home/tux/Desktop/codium.desktop]
row=0
col=1

[8D0C-F24A]
row=3
col=0

[B2C8-40D2]
row=2
col=0

[Trash]
row=0
col=0

